body {
    font-family: arial;
    background-color: rgb(228, 74, 146);}
    h1 {
    color: rgb(255,255,255);
    font-size: 50px;
    }
    ul {
    color: rgb(17, 231, 231);
    font-size: 30px ;
    text-align: left;}
    .header {
        background-color: rgb(120, 74, 228);
        text-align: center;
        color: aliceblue;
        padding:2px;
    }
    .poster {
        color: rgb(226, 21, 21);
        font-size: 50px ;
        background-color: rgb(5, 32, 90);
        font-family: 'Franklin Gothic Medium';
        text-align: center;
    }